<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProjectArchivatorConfig" type="ProjectArchivator.ProjectArchivatorConfig, ProjectArchivator"/>
  </configSections>
  <ProjectArchivatorConfig recepientCert="01f7027dd70105021a4a.cer" source="PS2091_(1).gif" systemGuid="{7CF86E58-F578-4B76-8C9F-AC030674B264}">
    <Enveroument>
      <Paths>
        <Path name="imageFrom" value="c:"/>
        <Path name="images" value="c:\out\images"/>
        <Path name="archives" value="c:\out\archives"/>
        <Path name="projects" value="c:\out\projects"/>
        <Path name="cert" value="c:\out\cert"/>
        <Path name="src" value="c:\out\src"/>
      </Paths>
      <ExcludeFolders>
        <ExcludeFolder name="svn" value=".svn"/>
      </ExcludeFolders>
    </Enveroument>
    <ImgTypes>
      <ImgType name="png" value="*.png"/>
      <ImgType name="jpg" value="*.jpg"/>
      <ImgType name="gif" value="*.gif"/>
    </ImgTypes>
    <FilePatterns>
      <Pattern name="cs" value="*.cs"/>
      <Pattern name="asmx" value="*.asmx"/>
      <Pattern name="aspx" value="*.aspx"/>
      <Pattern name="xml" value="*.xml"/>
      <Pattern name="config" value="*.config"/>
      <Pattern name="cfg" value="*.cfg"/>
      <Pattern name="sln" value="*.sln"/>
      <Pattern name="csproj" value="*.csproj"/>
      <Pattern name="resx" value="*.resx"/>
      <Pattern name="pfx" value="*.pfx"/>
      <Pattern name="cer" value="*.cer"/>
    </FilePatterns>
  </ProjectArchivatorConfig>
</configuration>